@import "../../../../../../../variables.scss";

.toolbar {
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 50px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.3rem;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;

  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    outline: none;
    

    img {
      height: 100%;
      object-fit: contain;
    }
    
  }

  .active{
    border: 2px solid black;
    border-radius: 5px;
  }

  .inactive{
    border: none;
  }

 

  &__left {
    display: flex;
    height: 100%;
    gap: 1.2rem;
    margin-left: 1rem;
    align-items: center;
  }

  &__right {
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;

    span {
      font-size: 0.8rem;
    }
  }
}
