
/* ========= CONTAINER ========= */

.jdrCardGlobal {
  border-radius: 2%;
  position: relative;
  z-index:10;
  box-sizing: border-box;

}


/* ========= PART 1 ========== */

.jdrImgNom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60%;
  box-sizing: border-box;
  padding:5%;

  .jdrName {
    width: 45%;
    text-align: center;
  }
  
  .jdrImg1 {
    width: 45%;
    height: 100%;
    display:flex;
    align-items: center;

    img{
      width:100%;
      max-height:100%;
    }
  }

}

/* ========= PART 2 ========== */

.jdrImgTexte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:40%;
  gap: 2rem;

   
  .jdrImg2 {
    height:100%;

    img{
      height:100%;
    }
  }


  .jdrTextBouton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding:5%;

    .jdrText {
      font-size: 1.1rem;
      text-align: center;
      height:60%;
      display:flex;
      align-items: flex-end;
    }

    
    .jdrButton {
      background-color: rgb(181, 178, 179);
      border-radius: 5px;
      box-shadow: rgb(181, 178, 179) 0px 4px 0px 0px;
      padding: 1em;
      background-repeat: no-repeat;
      box-sizing: border-box;
      width: 70%;
      aspect-ratio:4/1;
      color: #fff;
      border: none;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      margin-bottom: 1rem;
      
    }
    
  }
 
}


/* ========= BACKGROUND SVG ========== */

.jdrBg2 {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 1;
  z-index: -1;
}










.jdrButton::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.jdrButton:hover::before {
  width: 100%;
}

.jdrCardGenre {
  display: none;
  visibility: hidden;
}
