.parallaxMain {
  height: 100%;
  width: 100%;

  .parallaxSection {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;

    .moonImg {
      mix-blend-mode: screen;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 998;
    }

    .cloudsFrontImg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 1001;
    }

    .castleLightsImg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 1000;
    }

    .starsImg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 997;
    }
  }
}
