// DropSection.scss
@import "../../../../../../variables.scss";

.title-drop {
  @include title-blocsAdmin;
  cursor: pointer;
  border-top: 1px solid rgb(255 255 255 / 20%);
}

.content {
  background-color: #f7f7f7;
  height: 0;
  overflow: hidden;

  &.hidden {
    height: 0;
    transition: height 0.3s ease-in;
  }

  &.dropped {
    height: 55vh;
    transition: height 0.3s ease-in-out;
  }
}
