@import '../../variables.scss';




.GlobalContainerPartieBasseGauche {
  color: black;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    .BlocNumero, .GlobalContainerWelcome{
      display: flex;
      align-items:flex-end;
      font-family:"Inika";
      font-size:1.4rem;
      margin-left:25%;
      width:fit-content;
        
    }
}
.BlocNumero:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(188, 188, 188, 0.14);
  }
.PersonnalDetails,.PaymentHistory,.Inbox,.ResetPassword,.Logout {
  margin-left: 10px;
}
.GlobalContainerPartieBasseDroite{
  color: black;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.GlobalContainerWelcome {
  display: flex;
  justify-content: space-around;
}

.GlobalContainerinfos{
  display: flex;
  justify-content: space-between;
  font-family:"Inika";
  font-size:1rem;
  width: 80%;
  
}