@import "../variables.scss";

/* Block: .admin */
.admin {
  width: 100%;
  /* La hauteur est calculée en soustrayant la hauteur de la navigation (définie dans variables.scss) de 100vh */
  min-height: calc(100vh - $height-nav);
  box-sizing: border-box;

  @media (min-width: 1200px) {
    padding: 2vh 10vh 5vh 10vh;
  }

  /* Element: .admin__nav */
  &__nav {
    height: 20%;
    width: 100%;
    max-height: 80px;
    background-color: $color--darkestPurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1200px) {
      max-height: 50px;
      position: relative;
      border: none;
    }
  }

  /* Element: .admin__content */
  &__content {
    width: 100%;
    min-height: 20vh;
    border-radius: 10px;
    background-color: white;
    margin-top: 0.5rem;
  }
}
