/* Home.scss */

@import "../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Josefin+Sans:wght@100;500&family=Lilita+One&family=Oswald:wght@200&family=Rubik:wght@300&family=Space+Grotesk:wght@700&family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Inika&family=Josefin+Sans:wght@100;500&family=Lilita+One&family=Oswald:wght@200&family=Rubik:wght@300&family=Space+Grotesk:wght@700&family=Work+Sans:wght@100&display=swap");

/* Block: .home */
.home {
  /* Element: .home__hero */
  &__hero {
    height: calc(100vh - $height-nav);
    width: 100%;
    box-sizing: border-box;
    // border: 10px solid green;
    // background-color: purple;
    // background-image: url(../assets/images/parallax/sky.png);%
    .image-container {
      position: relative;
      height: auto;
      width: 100%;
      aspect-ratio: 677.45/400;
      .image {
        display: block;
        height: 100%;
        width: 100%;
      }

      .noParallaxImg {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
      }
      .cascadeImg {
        position: absolute;
        height: 30%;
        width: 100%;
        bottom: -1px;
        left: 0;
        z-index: 1;
        // filter: brightness(0) invert(1);
      }
    }
  }

  /* Element: .home__content */
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: calc(1vh + 8vw);
    // border: 10px solid red;

    /* Media query pour les marges en mode desktop */
    @media (min-width: 1024px) {
      padding-left: 5vh;
      padding-right: 5vh;
    }

    /* Element: .home__content__games (premier élément enfant) */
    > section:first-child {
      margin-top: calc(1vh + 8vw);
    }

    /* Element: .home__content__avis (dernier élément enfant) */
    > section:last-child {
      margin-bottom: calc(1vh + 8vw);
      // background-color: bisque;
    }

    /* Element: .home__content__games et .home__content__avis */
    section {
      box-sizing: border-box;
      min-height: 50vh;
      width: 100%;
      border: 2px solid black;
      background-color: $color--darkestPurple;
      // background-color: white;
      max-width: 1300px;
    }
  }
}

.jdrCardApp {
  display: flex;
}

.pagination button img {
  width: 40px;
  border-radius: 25%;
}

.boutonNext {
  position: absolute;
  bottom: -150%;
  right: 17%;
  border-radius: 50%;

  color: aliceblue;
}
.boutonPrev {
  position: absolute;
  left: 16%;
  bottom: -150%;
  border-radius: 50%;
}
