/* Home.scss */

@import "../variables.scss";

/* Block: .home */
.home {
  /* Element: .home__hero */
  &__hero {
    height: calc(100vh - $height-nav);
    width: 100%;
    box-sizing: border-box;
    border: 10px solid green;
    background-color: purple;
  }

  /* Element: .home__content */
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: calc(1vh + 8vw);
    border: 10px solid red;

    /* Media query pour les marges en mode desktop */
    @media (min-width: 1024px) {
      padding-left: 5vh;
      padding-right: 5vh;
    }

    /* Element: .home__content__games (premier élément enfant) */
    > section:first-child {
      margin-top: calc(1vh + 8vw);
      background-color: aqua;
    }

    /* Element: .home__content__avis (dernier élément enfant) */
    > section:last-child {
      margin-bottom: calc(1vh + 8vw);
      background-color: bisque;
    }

    /* Element: .home__content__games et .home__content__avis */
    section {
      box-sizing: border-box;
      height: 80vh;
      width: 100%;
      border: 2px solid black;
      background-color: white;
      max-width: 1300px;
    }
  }
}
