@import "../variables.scss";

$width: 1500px;

.avatar {
  height: 50vh;
  background-color: purple;
}

.edit {
  height: 100vh;
  background-color: green;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  @media (min-width: 1200px) {
    padding: 5rem;
  }

  .container {
    box-sizing: border-box;
    aspect-ratio: 42/24;
    height: auto;
    background-color: white;
    max-width: 100%;

    @media (min-width: 1500px) {
      max-width: 1500px;
    }

    @media (orientation: portrait) {
      min-height: 100vh;
    }
  }
}
