@import "../variables.scss";

.avatar {
    display: flex;
    height: 50vh;
    background-color: $color--darkestPurple;
    align-items: center;
    justify-content: center;

    .globalContainerProfil{
      height: 60%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
}

.edit {
  height: 100vh;
  background-color: $color--darkestPurple;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  @media (min-width: 1200px) {
    padding: 5rem;
  }

  .container {
    display: flex;
    box-sizing: border-box;
    aspect-ratio: 42/24;
    height: auto;
    background-color: white;
    max-width: 100%;
    border-radius: 1%;

    @media (min-width: 1500px) {
      max-width: 1500px;
    }

    @media (orientation: portrait) {
      min-height: 100vh;
    }
  }
}
