@import "./variables.scss";
html {
  background-color: $color--darkestPurple;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 2180px;
  
  // A SUPPRIMER PLUS TARD
  color: white;
  
  margin: 0 auto;
}

#root {
  // background-color: $color--darkestPurple;
  min-height: 100vh;
}

/* ELEMENTS */
header {
  width: 100%;
  // height: $height-nav;
  box-sizing: border-box;
}

main {
  width: 100%;
  box-sizing: border-box;
  // border: 10px solid blue;
}

footer {
  width: 100%;
  box-sizing: border-box;
  height: $height-footer;
  // border: 10px solid purple;
  // background-color: green;
}
