/* ===========  SIZES ELEMENTS ============*/

/* Global */
$height-nav: 8vh;
$height-footer: 20vh;

/* ==============   COLORS  ===============*/
$color--darkestPurple: #0c011c;
$color--darkPurple: #2c182e;
$color--purple: #44114d;
$color--orange: #f97700;
$color--green: #3f7841;
$color--blue: #3e86bb;
$color--red: #902b00;
$color--gris: #f7f7f7;

/* ===============  FONTS ================*/

/* Styles */
$font-family1: "Cinzel Decorative", cursive;
$font-family2: "Inika", serif;
$font-family3: "Arial", "Helvetica", sans-serif;

/* Sizes */
h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  margin: 0;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

h5 {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

h6 {
  font-size: clamp(0.6rem, 1vw, 1rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

h1,
h2 {
  font-family: "Cinzel Decorative";
}

/* ATTENTION, TESTS NE PAS HESITER A SUPP SI DERANGE */
span,
li,
button,
textarea,
label {
  font-family: $font-family3;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

$height-titles-section: 40px;


@mixin title-blocsAdmin {
  height: $height-titles-section;
  background-color: black;
  color: white;
  width: 100%;
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img{
    max-height: 11px;
  }

  span {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
