/* ===========  SIZES ELEMENTS ============*/

/* Global */
$height-nav: 8vh;
$height-footer: 20vh;


/* ==============   COLORS  ===============*/
$color--darkestPurple : #0C011C;
$color--darkPurple: #2C182E;
$color--purple: #44114D;
$color--orange : #F97700;
$color--green: #3F7841;
$color--blue: #3E86BB;
$color--red: #902B00;



/* ===============  FONTS ================*/

/* Styles */
$font-family1 : "Cinzel Decorative";


/* Sizes */