@import "../../../../../../variables.scss";

.pictureGeneral {
  height: 100%;
   // background-color: #f7f7f7;
  background-color: rgb(197, 97, 97);
  border-radius: 8px;

  .pictureGeneralTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  
  .titlePicture {
    @include title-blocsAdmin;
    grid-area: 1 / 1 / 2 / 2;

    span {
      color: white;
    }
  }

  .jeuImgDiv {
      margin-top: 20px;
      height: 300px;
      width: 360px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

    .jeuImg {
      height: 280px;
      width: 100%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }

    .editPen {
      height: 30px;
      width: 30px;
    }
  }

.pictureGeneralConstructor {
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .titleArea {

    .titleText {

    }
  }

  .selectionArea {
    
  }
}

.pictureGeneralSeparator {
  height: 100%;
  width: 0.2%;
  margin: 0px 20px;
  background-color: grey;
}

.buttonSelector {
  color: black;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .buttonImg {

  }
  .buttonTextFont {

  }
  .buttonTextColor {

  }
}
}
.buttonPictureGeneral {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  padding-right: 20px;
  bottom: 0;
  position: relative;
}
}

