@import "../../../variables.scss";

.edition {
  &__wrapNav {
    height: 5vh;
    min-height: 30px;
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__wrapContent {
    padding: 1rem 2rem 2rem 2rem;
    min-height: 30vh;
  }
}
